
/* display: flex; 
        pour creer un container flexible également appelé "flexbox". 
        Avec cette propriété, les éléments enfants peuvent être positionnés horizontalement ou verticalement, 
        et leur taille peut être ajustée en fonction de l'espace disponible dans le conteneur  */

/* justify-content:"";   aligne les éléments horizontalement  */
        /* 
        justify-content:flex-start ; Les éléments s'alignent au côté gauche du conteneur.
        justify-content:flex-end ;Les éléments s'alignent au côté droit du conteneur.
        justify-content:center ; Les éléments s'alignent au centre du conteneur.
        justify-content:space-between ; Les éléments s'affichent avec un espace égal entre eux.
        justify-content:space-around ;Les éléments s'affichent avec un espacement égal à l'entour d'eux. */

/* align-items:""; aligne les éléments verticalement 
/* align-self:""; aligne un éléments verticalement 
        align-items:flex-start ; Les éléments s'alignent au haut du conteneur.
        align-items:flex-end ; Les éléments s'alignent au bas du conteneur.
        align-items:center ; Les éléments s'alignent au centre vertical du conteneur.
        align-items:baseline ; Les éléments s'alignent à la ligne de base du conteneur.
        align-items:stretch ; Les éléments sont étirés pour s'adapter au conteneur.*/

/* flex-direction:définit la direction dans laquelle les éléments sont placés
        flex-direction:row ; Les éléments sont disposés de gauche a droite 
        flex-direction:row-reverse ; Les éléments sont disposés de droite a gauche 
        flex-direction:column ; Les éléments sont disposés de haut en bas.
        flex-direction:column-reverse ; Les éléments sont disposés de bas en haut. */

/* order  
        pour changer l'ordre des elements. 
        Par défaut, les éléments ont une valeur de 0, 
        mais on peut utiliser cette propriété pour changer la valeur à un entier positif ou négatif. 
        order:0 ; = position de base
       
        */
/* flex-wrap 
    est utilisée pour contrôler le comportement des éléments enfants lorsque l'espace disponible est insuffisant pour afficher tous les éléments sur une seule ligne
        flex-wrap:nowrap ; Tous les éléments sont tenus sur une seule ligne.
        flex-wrap:wrap ; Les éléments s'enveloppent sur plusieurs lignes au besoin.
        flex-wrap:wrap-reverse ; Les éléments s'enveloppent sur plusieurs lignes dans l'ordre inversé. */

/* flex-flow 
        combine flex-direction et flex-wrap 
        Ce raccourci accepte les valeurs des deux propriétés séparées par un espace.
        flex-flow: row wrap; .... 
        */

/* align-content pour définir comment plusieurs lignes sont espacées
        align-content:flex-start ; Les lignes sont amassées dans le haut du conteneur.
        align-content:flex-end; Les lignes sont amassées dans le bas du conteneur.
        align-content:center ; Les lignes sont amassées dans le centre vertical du conteneur.
        align-content:space-between ; Les lignes s'affichent avec un espace égal entre eux.
        align-content:space-around ; Les lignes s'affichent avec un espace égal autour d'eux.
        align-content:stretch ; Les lignes sont étirées pour s'adapter au conteneur. */


